body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container{
    text-align: center;
    margin-top: 50px;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
}

#color-box{
    height: 100px;
    width: 500px;
    padding: 50px;
    border: 1px solid red;
    background-color: black;
    margin: 0 auto;
}

#change-color-btn{
    margin-left: 720px;
    margin-top: 50px;
    padding: 20px;
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    border: 2px orange solid;
}

#change-color-btn:hover{
    background-color: green;
    border-radius: 2px;
}


